<footer>
  <span class="copyright">
    &copy; {{date format="YYYY"}}. All rights reserved. Power by <a href="https://ghost.org/" target="_blank">Ghost</a>. <br/> <a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备13046872号-1</a>.
  </span>
</footer>
