<footer>
  <span class="copyright">
    &copy; {{date format="YYYY"}}. All rights reserved. Power by <a href="https://ghost.org/" target="_blank">Ghost</a>. <br/> <a href="https://m.do.co/c/54c044834c86" target="_blank">DigitalOcean</a>.
  </span>
</footer>
